<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Instagram</title>
    <link rel="stylesheet" href="//code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/sweet-alert.css">
    <link rel="stylesheet" href="../css/styles.min.css">
</head>
<body cz-shortcut-listen="true">

<div class="navbar navbar-default navbar-static-top">
    <div class="container">
        <ul class="nav navbar-nav">
            <a href="detail.html" class="navbar-brand"><i class="ion-images"></i> Instagram</a>
            <li><a href="index.html">Home</a></li>
            <li><a href="login.html">Log in</a></li>
            <li><a href="signup.html">Sign up</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
        </ul>
    </div>
</div>

<div class="container">

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">

                <div class="col-xs-6">
                    <img src="../images/pic.jpg" class="img-responsive">
                </div>

                <div class="col-xs-6">
                    <div class="caption">
                        <h5><a href="http://instagram.com/m.maulshh">m.maulshh</a></h5>
                        <h6 class="text-muted"><i class="ion-clock"></i> 23 Apr 2016
                        </h6>

                        <p>text caption ......</p>

                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-xs-12">
                    <h5><i class="ion-heart text-danger"></i> 12 likes</h5>

                    <hr class="soften">
                    <h5 class="text-center"><i class="ion-chatbox-working text-primary"></i> Comments</h5>

                    <ul class="media-list">
                        <li class="media">
                            <a class="pull-left" href="http://instagram.com/m.maulshh">
                                <img src="../images/1.jpg" class="media-object img-rounded">
                            </a>
                            <div class="media-body">
                                <a class="media-heading" href="http://instagram.com/m.maulshh">lorem ispum</a>
                                paragraph
                            </div>
                        </li>
                        <!--<li>No comments</li>-->
                    </ul>

                    <hr class="soften">

                    <div class="btn-group">
                        <button class="btn">
                            <i class="ion-heart text-danger"></i>
                            <span>Liked</span>
                            <!--<i class="ion-heart"></i>-->
                            <!--<span>Like</span>-->
                        </button>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

</body>
</html>